<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light" id="main-nav">
  <div class="container">
    <a class="navbar-brand" href="/">
      <%= link_to image_tag('giftly-logo-header.png'), root_path %>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <span class="navbar-text">
        <%= yield :page_title %>
      </span>
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <%= link_to 'New Search', new_search_path, class: 'nav-link' %>
        </li>
      </ul>

      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="#">Browse</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Corporate Gifts</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
