@import 'bootstrap';
@import 'buttons';
@import 'colors';
@import 'business';
@import 'gift_cards';
@import 'search';

body {
 font-family: 'museo-sans', 'Helvetica Neue', Helvetica, Helvetica, Arial, sans-serif;
 background: $color-body-light-blue;
 color: $color-text-dark-gray;
}

.container {
  max-width: 960px;
}

#main-nav {
 background: $color-body-beige !important;
}

#breadcrumb-nav {
  margin-top: 80px;
  padding: 20px 40px;
  color: $color-light-gray;

  .breadcrumb-separator {
    padding: 0 4px;
  }

  a, a:visited, a:active, a:hover {
    color: $color-light-gray;
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }
}

#main-content {
  position: flex;
}

a, a:visited {
  color: $color-button-blue;
}

a:hover, a:active {
  color: $color-button-dark-blue;
}

.body-card {
  padding: 40px 80px;
  margin: 10px 0;
  background: #fff;
  border-radius: 2px;
  border: 1px solid $color-light-gray;
  box-shadow: 0 0 4px rgba(140, 172, 179, 0.4);

  .body-card-title {
    margin-bottom: 20px;
    color: rgb(112, 144, 149);

    h1 {
      font-family: 'museo-slab', 'Helvetica Neue', Helvetica, Helvetica, Arial, serif;
      font-weight: 300;
    }

    h2 {
      font-weight: lighter;
      font-size: 1.6rem;
    }
  }

  .body-card-footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    border-top: 1px solid $color-light-gray;
    margin: 0 -80px -40px;
    padding: 10px;

    .body-card-footer-column {
      flex: 1 1 auto;
      padding: 10px 5px;
      text-align: center;

      &.first-column {
        border-right: 1px solid $color-light-gray;
      }

      &.last-column {
        border-left: 1px solid $color-light-gray;
      }
    }
  }
}

.body-card-first {
  border-top: 7px solid rgb(166, 188, 192);
}

/* phones */
@media only screen and (max-width: 767px) {
  .body-card {
    padding: 20px 40px;

    .body-card-footer {
      margin: 0 -40px -20px;
      display: block;

      .body-card-footer-column {
        border-bottom: 1px solid $color-light-gray;

        &.first-column {
          border-right: none;
        }

        &.last-column {
          border-left: none;
        }
      }
    }
  }
}
