 $color-body-beige: #F2EFE9;
 $color-body-light-blue: #E0EBED;

 $color-text-dark-gray: #737373;
 $color-text-yellow: #f2b321;

 $color-button-blue: #23bfdf;
 $color-button-dark-blue: #1a9ab5;

 $color-light-gray: rgba(115, 115, 115, 0.4);
