button, input[type=submit] {
  font-family: 'Roboto Slab', 'Helvetica Neue', Helvetica, Helvetica, Arial, serif;
}

.btn {
  width: 75%;
}

.btn-primary {
  background: $color-button-blue;
  border-color: $color-button-blue;
  box-shadow: 1px 2px $color-button-dark-blue;
}

.btn-primary:hover, .btn-primary:active, .btn-primary:disabled {
  background: $color-button-dark-blue;
  border-color: $color-button-dark-blue;
}
