#buy-title {
  text-align: center;
}

#buy-button {
  display: block;
  margin: 0 auto;
  max-width: 400px;
}

#satisfaction-guarantee {
  margin: 20px 0;
  text-align: center;
}

#example-gift-button {
  max-width: 400px;
  margin: 0 auto;
  display: block;
}
